body {
  background: url("../src/clock-bg.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  border-radius: 50%;
  border: 20px solid rgb(25, 230, 25);
  width: 30rem;
  height: 30rem;
  padding: 1rem;
  box-shadow:
    0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 0 3px #efefef,
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  height: 100%;
  width: 100%;
}

.hand {
  background: black;
  width: 50%;
  height: 6px;
  top: 50%;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
